body {
  font-family: sans-serif;
  background: linear-gradient(150deg, #000000, rgb(6, 36, 36));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background: #ffffff;
  padding: 30px;
  width: 330px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form input {
  padding: 14px 15px;
  font-size: 17px;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.btn {
  padding: 14px;
  background: #000;
  color: cyan;
  border: none;
  border-radius: 9px;
  font-size: 20px;
}

.btn:hover {
  /* background: #0c28c7; */
  background-color: green;
  color: white;
  transition: all 0.8s ease;
}

.btn:active {
    background-color: #000;
    color: red;
}